body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
footer {
  background: skyblue;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
footer p {
  line-height: 60px;
  font-weight: bold;
}