body {
  position: relative;
}
.postthread {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #EEDEFF;
  margin-top: 80px;

}
.form-area {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}
.post-form {
  margin-right: 5px;
  border-radius: 5px;
}
.post-btn {
  margin-left: 5px;
  padding: 0 14px;
  border-radius: 5px;
  border: none;
  background: royalblue;
  color: white;
  transition: .2s;
  cursor: pointer;
  padding: 10px 12px;
}
.post-btn:hover {
  background: lightskyblue;
}