.post-list-area {
  margin-bottom: 140px;
}
.postlist-dl {
  width: 70%;
  margin: 50px auto 0 auto;
}
/* .postlist-ul {
  margin: 16px auto;
  text-align: center;
  width: 80%;
}
.postlist-li {
  height: 24px;
  margin: 0 auto;
  width: 50%;
  background: white;
  padding: 20px;
  filter: drop-shadow(0 1px 1px skyblue);
} */
