body {
  background: aliceblue;
}
a {
  text-decoration: none;
}
h1 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: 50px auto;
  text-align: center;
  padding: 30px;
}